
@keyframes disparition {
  0%{
    transform: scale(1);
  }
  100%{
    transform:scale(0);
  }
  
}
@keyframes spinner {
  to{
    transform: rotate(360deg);
  }
  
}
@keyframes apparition {
  0%{
    transform: scale(1);
  }
  100%{
    transform:scale(0);
  }
  
}
@keyframes appear{
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
