@media screen and (min-width: 1024px){
    
    .cards_restau{
        flex-direction: row;
        display: flex;
        flex-wrap: nowrap;
    }
    .cards_palette, .cards_francaise, .cards_delice, .cards_lanote{
        width: 50%;
    }
    
  
    .cards{
        display: flex;
        flex-direction: row;
       
    }
    .palette{
        flex-direction: revert; 
    }

    
}


   