@media screen and (max-width: 768px) {
    
    .body{
        min-height: 100vh;
    }
    .titre_dessert .titre_plats{
        padding-left:0px;
    }
    
    #nav{
        background-color: #fafafa;
    }
    
    
    .button__restau {
        font-size: 18px;
        height: 28px;
    }
    
    
    #fonctionnement {
        display: flex;
        flex-direction: column;
        height: 400px;
    }
    .premier__titre{
        font-size:2,6rem;
    }
    #restaurant{
        background-color: #f2f2f2;
        padding: 10px 0px 10px 0px;
        margin-top: 40px;
    }
    
    .cards{
        flex-direction:column;
        width:400%;
        gap:24px;
    }
    
    .restaurant {
        display: flex;
        flex-direction: column;
    }
    
    
    .cards_restau{
        flex-direction: column;
        margin-bottom: 60px;
    }
    
    
    .cards_palette,
    .cards_francaise,
    .cards_delice,
    .cards_lanote {
        width: 90%;
        display:flex;
        flex-direction:column;
    }
    
    
    .footer {
        display: flex;
        flex-direction: column;
        padding-right: 70px;
    }
    
    
    .footer {
        line-height: 1;
    }

    .fa-utensils{
    padding-left: 6px;
    }
   
    .img_palette {
        height: 250px;
        width: 100%;
        object-fit: cover;
    }
    
    
    .titre_menu {
        width: 40%;
    }
    
    
    .palette {
        display: flex;
        flex-direction: column;
    }
    
    
    .titre_palette {
        margin-top: -30px;
        position: relative;
        border-radius: 30px 30px 0 0;
        background-color: #f6f6f6;
    }
    
    .card__menu {
        padding: 0;
        
    }
    #entrees, #plats, #dessert{
        width:100%;
    }
    .cards_menu-title{
        white-space: nowrap;
        font-size: 14px;
        font-weight: 600;
        text-overflow: ellipsis;
        font-family: "Roboto";
    }
    .back_link{
        left:0;
        right:300px;
    }
    
    
}
@media screen and (max-width:1024px){

    .palette{
        flex-direction: column;
        padding: 0 0vw;
    }
    
    #entrees,#plats,#dessert{
        width: 100%;
    }
    .cards_restau{
        width: 90%;
        flex-direction: column;
        display: flex;
        padding-left:20px;
    }
    
    .cards_palette, .cards_francaise, .cards_delice, .cards_lanote{
        width: 100%;
    }
}