// Le sass des pages de restaurants
/*HAUT DE PAGE*/

.back_link{
    left: 0;
    right: 300px;
    margin-left: 32px;
    margin-top: 10px;
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.img_palette {
    object-fit: cover;
    width: 100%;
    max-height: 400px;
}
.titre_palette{
    font-family: "shrikhand", "cursive";
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
}
.heart_favoris {
    font-size: x-large;
    padding-right: 15px;
}

.fa-heart:hover {
    content: "\f004";
    font-weight: bold;
    transition: color 1s ease-out;
    color: #ff79da;
    cursor: pointer;
}
.fa-heart{
    font-size: x-large;
}

/*MENU*/
.container {
    background-color: #f6f6f6;
    border-radius: 0px 0px 15px 15px;
   
    
}
.palette {
    display: flex;
    animation-name: appear;
    animation-duration: 1000ms;
    animation-fill-mode: backwards; 
}
#entrees, #plats, #dessert {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 16px;
    gap:40px;
    height: 100%;
   
}

.titre_entrees, .titre_menu, .titre_plats, .titre_desserts {
    background: linear-gradient(to right, #99e2d0, #99e2d0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: 40px 2px;
    background-position: 0% 100%;
    width: 30%;
    margin-left: 16px;
}

.card__menu {
    background-color: #fff;
    box-shadow: rgba(190, 190, 210, 0.7019607843) 0px 5px 20px 0px, #D3D3D3 1px 3px 1px 1px;
    border-radius: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    flex:1;

}

.card__menu-info {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex:1;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    padding-left: 10px;
    height: 80px;
    width: 80%;

}

.card__menu:hover .card__menu-info {
    width: 60%;
}

.card__menu-title {
    font-size: 14px;
    font-weight: 600;
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}

.card__menu-details {
    line-height: 16px;
    font-size: 15px;
    margin: 0;
    padding: 0;
    font-weight: 300;
    color: #303030;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.price {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: flex-end;
}
.card__check {
    opacity: 0;
    border-radius: 0 1px 1px 0;
    width: 0%;
    margin-right: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: #f6f6f6;
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;

    i {
        align-items: center;
        display: flex;
        justify-content: center;
    }
}

.card__menu:hover .card__check {
    opacity: 1;
    width: 20%;
    background-color: #99e2d0;
    transition: width 300ms;

}
.card__menu:hover .card__check i {
    opacity: 1;
    margin-right: 0;
    font-size: xx-large;
    transition: transform 900ms;
    transform: rotate(360deg);
}
.button {
    display: flex;
    justify-content: center;
}

.btn {
    width: 200px;
    align-self: center;
    margin: 32px;
    background: linear-gradient(170deg, #ff79da, #9356dc);
    color: white;
    font-size: large;
    padding: 16px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
.btn:hover {
    box-shadow: 8px 8px 2px lightgrey;
    transition-duration: 0.25s;
}
/*FOOTER*/
.footer {
    
    display: flex;
    flex-direction: column;
    margin-top: 40PX;
    
}
.footer h3 {
    display: flex;
    color: #fff;
    font-family: Shrikhand, "cursive";
    font-size: px;
    margin-bottom: 16px;
    padding-left: 40px;
}
.footer ul{
    display:flex;
    flex-direction: column;
}
.footer li {
    color: #fff;
    font-family: "Roboto, sans-serif";
    font-size: 19px;
    margin: 0 0 16px;
    list-style: none;
}

.footer li a {
    text-decoration: none;
    color: #fff;
}